/* recipePost.module.css */
/* Front page of each post in /recipes */
/*By: Kairos*/

.postBox {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.postBox:hover {
    scale: 1.04;
}
